@font-face {
    font-family: KyivTypeSans;
    src: url(/fonts/KyivTypeSans-VarGX.ttf);
}
@font-face {
    font-family: Marmelad;
    src: url(/fonts/Marmelad-Regular.ttf);
}
body {
    margin: 0;
}
main {
    margin-top: 120px;
    margin-bottom: 40px;
}
.h3-news {
    font-family: Marmelad;
    font-weight: bolder;
    font-size: 26px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: -10px;
    padding-left: 20px;
}
.p-news {
    font-family: Marmelad;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    padding-left: 40px;
    margin-bottom: -10px;
}
.h3-news-other {
    font-family: Marmelad;
    font-weight: bolder;
    font-size: 26px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 5px;
    margin-bottom: -10px;
}
.p-news-other {
    font-family: Marmelad;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
}
.menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    list-style: none;
    margin: 0px;
    display: flex;
    background-color: #E6E6E6;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.75);
}
.menu-part {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.menu-logo-text {
    display: flex;
    color: rgb(0, 0, 0);
    font-family: KyivTypeSans;
    font-weight: bolder;
    font-size: 24px;
    margin: 0 15px;
    width: 100px;
    justify-self: left;
}
.menu-logo img {
    display: flex;
    height: 70px;
    width: 70px;
    border-radius: 100px;
    justify-self: left;
}
.menu-btn {
    display: flex;
    color: rgb(0, 0, 0);
    font-family: KyivTypeSans;
    font-weight: bolder;
    font-size: 24px;
    margin: 0 15px;
    justify-self: right;
}
.menu-btn img {
    display: flex;
    height: 55px;
    width: 55px;
    border-radius: 100px;
    justify-self: right;
}
.menu-btn-current {
    text-decoration: underline #707070 5px;
    display: flex;
    color: rgb(0, 0, 0);
    font-family: KyivTypeSans;
    font-weight: bolder;
    font-size: 24px;
    margin: 0 15px;
    justify-self: right;
}
.news-other {
    list-style: none;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    background-color: #CECECE;
    justify-content: center;
    flex-wrap: wrap;
    height: 488px;
    width: 430px;
    box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.25);
}
.news-other-img {
    background-image: url(/images/bg.png);
    background-size: cover;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 309px;
    width: 395px;
    border-radius: 48px 48px 0px 0px;
    box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.25) inset;
}
.news-other-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 270px;
    height: 488px;
    width: 1352px;
}
.news-other-item {
    background-color: #423F3F;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 150px;
    width: 394px;
    border-radius: 0px 0px 48px 48px;
}
.news-main {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #CECECE;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 60px;
    height: 442px;
    width: 1349px;
    box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.25);
}
.news-main-img {
    background-image: url(/images/bg.png);
    background-size: cover;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 277px;
    width: 1321px;
    border-radius: 48px 48px 0px 0px;
    box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.25) inset;
}
.news-main-item {
    background-color: #423F3F;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 133px;
    width: 1321px;
    border-radius: 0px 0px 48px 48px;
}
.footer {
    background-color: #585858;
    font-family: KyivTypeSans;
    font-size: 14px;
    text-decoration: underline;
    color: #FFFFFF;
    height: 205px;
    padding: 10px;
}